* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", serif;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 2.5rem;
    margin: 15px 0;
    font-weight: bold;
}

svg {
    width: 25px;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem;
    /* background-color: lightcoral; */
    /* clip-path: polygon(0 0, 100% 0%, 100% 50%, 0% 100%); */
}

header::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: lightcoral;
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 94%);
    z-index: -1;
}

header img {
    box-shadow: rgba(0, 0, 0, 0.50) 0px 3px 8px;
    border-radius: 50px;
}

header h2 {
    color: white;
    position: absolute;
    transform: translate(110px, 500px) scale(2);
    text-shadow: rgba(0, 0, 0, 1) 0px 5px 8px;
}

header .header-description {
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.40) 0px 3px 8px;
    border-bottom-right-radius: 50px;
    border-top-right-radius: 50px;
    padding: 3rem;
    line-height: 1.5rem;
}

.header-description p {
    margin: 40px 0;
}

header .icons {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}

.icons svg {
    transition: transform 100ms ease-out 25ms;
}

.icons svg:hover {
    transform: scale(1.4);
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    padding: 5rem;
}

main h2,
footer h2 {
    margin: 15px 0;
    font-weight: bold;
    font-size: 2rem;
}

main .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
}

main .project {
    height: 500px;
    max-width: 400px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.329) 1px 5px 8px;
    border-radius: 50px;
}

.project .project-screenshot {
    height: 60%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    transition: transform 400ms ease-out 25ms;
}

.project-screenshot img {
    width: 100%;
    height: 100%;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    object-fit: cover;
}

.project:hover .project-screenshot {
    transform: translateY(-30px);
    box-shadow: rgba(0, 0, 0, 0.329) 1px 5px 8px;
}

main .project-title {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.project-title .icons svg {
    margin: 0 5px;
}

.project-info p {
    margin: 0 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 5rem;
    background-color: lightcoral;       
}

.contacts p,
.contacts div {
    margin: 0 0 20px 0;
}

.contacts .number {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.contacts .icons svg {
    margin-right: 10px;
}

footer img {
    height: 400px;
    width: 700px;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 0.329) 1px 5px 8px;
}